.outerContainer {
    height: 100vh;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.containerInner {
    height: 75%;
    font-family: 'Montserrat', sans-serif;
}

.option-enter {
    opacity: 0;
}

.option-enter.option-enter-active {
    opacity: 1;
    transition: opacity 2s ease;
}

.option-exit {
    opacity: 1;
}
.option-exit.option-exit-active {
    opacity: 0;
    transition: opacity 2s ease;
}

